@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family:"Aquatico";
    src: url("C:/GITHUB/projects/taskify/src/fonts/Aquatico-Regular.otf");
}

@font-face {
    font-family:"Playpen";
    src: url("C:/GITHUB/projects/taskify/src/fonts/PlaypenSans-Light.ttf");
}
@font-face {
    font-family: "Anton";
    src: url("C:/GITHUB/projects/taskify/src/fonts/Anton-Regular.ttf");
}